<h1>Editing type user</h1>

<%= render "form", type_user: @type_user %>

<br>

<div>
  <%= link_to "Show this type user", @type_user %> |
  <%= link_to "Back to type users", type_users_path %>
</div>
