
<div id="<%= dom_id type_document %>">
  <p>
    <strong>Nombre:</strong>
    <%= type_document.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= type_document.description %>
  </p>

</div>
